<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_222303026_proje3.CryptographicSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_222303026_proje3.CrytograyphicSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_222303026_proje3.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_222303026_proje3.CryptographicSettings>
            <setting name="CipherKey1" serializeAs="String">
                <value>Ohf3aR688kaRYSTu7lMeXPoSVUTFcS+WgraFY3mxda0=</value>
            </setting>
            <setting name="CipherIV1" serializeAs="String">
                <value>TZnoSs4H8yQZ8kQTgZ7xwg==</value>
            </setting>
            <setting name="CipherKey2" serializeAs="String">
                <value>Ohf3aR688kaRYSTu7lMeXPoSVUTFcS+WgraFY3mxda0=</value>
            </setting>
            <setting name="CipherIV2" serializeAs="String">
                <value>TZnoSs4H8yQZ8kQTgZ7xwg==</value>
            </setting>
        </_222303026_proje3.CryptographicSettings>
        <_222303026_proje3.CrytograyphicSettings>
            <setting name="CipherKey" serializeAs="String">
                <value>Ohf3aR688kaRYSTu7lMeXPoSVUTFcS+WgraFY3mxda0=</value>
            </setting>
            <setting name="CipherIV" serializeAs="String">
                <value>TZnoSs4H8yQZ8kQTgZ7xwg==</value>
            </setting>
        </_222303026_proje3.CrytograyphicSettings>
        <_222303026_proje3.Settings1>
            <setting name="PreferredTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowRecentFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCanvasSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="DefaultBrushSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DefaultBrushStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultPenSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DefaultPenStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSpraySize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DefaultEraserSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DefaultShapeSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DefaultTextSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HashedGeminiAIAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAIGeneratedImageSize" serializeAs="String">
                <value>1024, 1024</value>
            </setting>
            <setting name="DefaultRadiusSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DefaultBucketTolerance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PreferredAI" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HashedHuggingFaceAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredGeminiModel" serializeAs="String">
                <value>gemini-2.0-flash-preview-image-generation</value>
            </setting>
            <setting name="PreferredHuggingFaceCreatingModel" serializeAs="String">
                <value>black-forest-labs/FLUX.1-dev</value>
            </setting>
            <setting name="PreferredHuggingFaceEditingModel" serializeAs="String">
                <value>mit-han-lab/svdq-int4-flux.1-fill-dev</value>
            </setting>
            <setting name="DefaultPointsCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DefaultCartoonFilterSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultCartoonFilterIntensity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultCartoonFilterThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultOilPaintFilterSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultOilPaintFilterIntensity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultOilPaintFilterThreshold" serializeAs="String">
                <value>50</value>
            </setting>
        </_222303026_proje3.Settings1>
    </userSettings>
</configuration>